*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #CF654E;
  overflow: hidden;
  
  
  background: url(https://cdn.glitch.com/a725ba3b-f97b-43d7-91bd-88ffa3289f95%2FAbout_Bg.png?v=1630230179421) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

.logo-gif {
  height: 10%;
  position: absolute;
  top: 1%;
  left: 0.5%;
}

.nav-bar-options {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  list-style-type: none;
  margin-top: 1%;
  margin-right: 3%;
}

.option {
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  padding: 10px 20px 0px 0px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}

.option:hover {
  cursor: pointer;
}

.active {
  text-decoration: underline;
  cursor: default;
}

.about {
  color: #1C1C1C;
  font-family: 'Questrial', sans-serif;
  font-size: 200%;
}

.tinder {
  width: 100vw;
  height: 85vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--cards {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 75vh;
  background: #FFFFFF;
  padding-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}