.logo-gif {
  height: 10%;
  position: absolute;
  top: 1%;
  left: 0.5%;
}

.nav-bar-options {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  list-style-type: none;
  margin-top: 1%;
  margin-right: 3%;
}

.option {
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  padding: 10px 20px 0px 0px;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}

.option:hover {
  cursor: pointer;
}

.active {
  text-decoration: underline;
  cursor: default;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 90vh;
  display: grid;
  background: #1c1c1c;
}

svg {
  border-radius: 50%;
  clip-path: circle();
  width: 100vw;
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/*button*/
particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  padding: 20px;
  position: absolute;
  margin-top: 18%;
  z-index: 1;
  margin-left: 45%;
  border: none;
  background: none;
  cursor: pointer;
  color: #FFF;
  font-family: 'Questrial', sans-serif;
  font-size: 200%;
}

.button:hover {
  color: rgb(249,32,30);

}

.preloader {
  position: absolute;
  background: url(https://cdn.glitch.com/a725ba3b-f97b-43d7-91bd-88ffa3289f95%2FNewmojis%206.png?v=1630291666518);
}
