* {
  margin: 0;
}

body {
  background-color: #1C1C1C;
}

.logo-gif {
  height: 10%;
  position: absolute;
  top: 1%;
  left: 0.5%;
}

.nav-bar-options {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  list-style-type: none;
  margin-top: 1%;
  margin-right: 3%;
}

.option {
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  padding: 10px 20px 0px 0px;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}

.option:hover {
  cursor: pointer;
}

.active {
  text-decoration: underline;
  cursor: default;
}

.abc {
  color: #FFFFFF;
  font-family: 'Questrial', sans-serif;
  font-size: 800%;
  margin-top:5%;
  margin-left: 10%;
  height: 80vh;
  overflow:hidden;
}

#intro-brief {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-top: 100px;
}

#end-brief {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-top: 100px;
  margin-bottom: 50px;
}

.end-link {
    color: white;
    text-decoration: underline;
}

.end-link:hover {
    color: #C4C4C4;
    text-decoration: underline;
}

.project {
  transition: transform 1s;
  opacity: 100%;
}

.project:hover {
  transform: scale(1.1);
  opacity: 60%;
}

#nami {
  width: 80%;
  margin-left: 30%;
  margin-bottom: 15%;
}

.tooltip-nami {
  width: 30%;
  position: relative;
  display: inline-block;
}

.tooltip-nami .tooltiptext {
  visibility: hidden;
  font-family: 'Questrial', sans-serif;
  width: 120px;
  background-image: linear-gradient(to right, #FFA9AA , #1F5394);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 70%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-nami:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-nami  .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #90809D transparent transparent transparent;
}

#operation-math {
  width:100%;
  margin-left: 10%;
}

.tooltip-operation-math {
  width: 30%;
  position: relative;
  display: inline-block;
}

.tooltip-operation-math .tooltiptext {
  visibility: hidden;
  font-family: 'Questrial', sans-serif;
  width: 120px;
  background-image: linear-gradient(to right, #5DAEE7 , #9ED286);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 5px;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 60%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-operation-math:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-operation-math  .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #8DBEB8 transparent transparent transparent;
}

#harmonize {
  width:100%;
  padding-top: 30%;
  margin-left: 10%;
}

.tooltip-harmonize{
  width: 30%;
  position: relative;
  display: inline-block;
}

.tooltip-harmonize .tooltiptext {
  visibility: hidden;
  font-family: 'Questrial', sans-serif;
  width: 120px;
  background-image: linear-gradient(to right, #FFA6E5 , #FA650A);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 5px;
  position: absolute;
  z-index: 1;
  bottom: 75%;
  left: 60%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-harmonize:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-harmonize .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #EE8D89 transparent transparent transparent;
}

#leaf {
  width:90%;
  padding-top: 20%;
  margin-left: 30%;
}

.tooltip-leaf{
  width: 30%;
  position: relative;
  display: inline-block;
}

.tooltip-leaf .tooltiptext {
  visibility: hidden;
  font-family: 'Questrial', sans-serif;
  width: 120px;
  background-image: linear-gradient(to right, #FFCD80 , #85B17E);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 5px;
  position: absolute;
  z-index: 1;
  bottom: 75%;
  left: 70%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-leaf:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-leaf .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #C3BF86 transparent transparent transparent;
}

#blob {
  width:90%;
  padding-top: 20%;
  margin-left: 20%;
}

.tooltip-blob{
  width: 30%;
  position: relative;
  display: inline-block;
}

.tooltip-blob .tooltiptext {
  visibility: hidden;
  font-family: 'Questrial', sans-serif;
  width: 120px;
  background-image: linear-gradient(to right, #5A337A , #C24183);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 5px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 60%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-blob:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-blob .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #82407B transparent transparent transparent;
}

#emoji {
  width:90%;
  padding-top: 20%;
  margin-left: 10%;
}

.tooltip-emoji{
  width: 30%;
  position: relative;
  display: inline-block;
}

.tooltip-emoji .tooltiptext {
  visibility: hidden;
  font-family: 'Questrial', sans-serif;
  width: 120px;
  background-image: linear-gradient(to right, #FFF661 , #D98308);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 5px;
  position: absolute;
  z-index: 1;
  bottom: 75%;
  left: 60%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-emoji:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-emoji .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #E7BE56 transparent transparent transparent;
}

#network {
  width:90%;
  padding-top: 20%;
  margin-left: 10%;
}

.tooltip-network{
  width: 30%;
  position: relative;
  display: inline-block;
}

.tooltip-network .tooltiptext {
  visibility: hidden;
  font-family: 'Questrial', sans-serif;
  width: 120px;
  background-image: linear-gradient(to right, #E22E26 , #EE615B);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 5px;
  position: absolute;
  z-index: 1;
  bottom: 75%;
  left: 60%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-network:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-network .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #D85548 transparent transparent transparent;
}